<%- include('../partials/header.ejs') %>
<div class="card-container">
  <% ideas.forEach(function(i){ %>
  <div class="card z-depth-0">
    <div class="card-content">
      <div>
        <span class="card-title">
          <span class="thoughts">
            <label class="username"> <%=user.name%>'s</label>
            <br />
            <span class="thoughts"> "<%= i.thought %>" </span>
            <br />
            <span class="timestamp"> <%= i.createdAt %> </span>
          </span>
        </span>
      </div>
    </div>
  </div>
  <% }) %>
</div>

<!-- list of thoughts display here -->
<%- include('../partials/footer.ejs') %>
