<%- include('../partials/header.ejs') %>
<div class="card-container">
  <% if (user){ %> <% thoughts.forEach(function(t){ %>
  <div class="card z-depth-0">
    <div class="card-content">
      <div>
        <span class="card-title">
          <span class="thoughts">
            <label class="username"> <%=user.name%>'s</label>
            <br />
            <span class="thoughts-text"> "<%= t.thought %>" </span>
            <br />
            <span class="timestamp"> <%= t.createdAt %> </span>
            <div class="thoughts-array">
              <div class="idea"><%=t.idea %></div>
            </div>
          </span>
        </span>
        <div class="idea-form">
          <h5 class="form-title">What's your next idea?</h5>
          <form class="thought-form" action="/ideas" method="POST">
            <label> <%=user.name%>'s</label>
            <label
              >idea:
              <input type="text" name="idea" autocomplete="off" /> </label
            ><br />
            <input class="form-button" type="submit" value="submit" />
          </form>
        </div>
      </div>
    </div>
  </div>
  <% }) %> <% } %>
</div>

<%-include('../partials/footer.ejs');%>
